
h2{
    font-size: 1.7em;
}
.cabecalho-moda , .cabecalho-casa , .corpo-moda , .corpo-casa{
    font-size: 1.4em;
}
.cabecalho-moda{
    background-color:  #BB86FC;
    color: rgb(255, 255, 255);
}
.cabecalho-casa{
    background-color:  #00C4B4;
    color: rgb(255, 255, 255);
}
.corpo-moda , .corpo-casa {
background-color:  #424250;
color: rgb(255, 255, 255);
}